/* Override styling for navbar current & focused item */
.nav-list a:hover, .nav-list a:focus, .nav-list a.current {
    text-decoration: none;
}
.nav-list a.current {
    pointer-events: none;
    cursor: default;
    font-weight: bold;
}

div.flex-row {
    display: flex;
    flex-flow: row wrap;
}

blockquote p {
    margin-bottom: 0px;
}

blockquote.testimonial {
    display: block;
}
